*{
    box-sizing: border-box;
}

.input-box{
    background-color: #2980b9;
    border: none;
    color: white;
    outline: none;
}

button{
    height: 2rem;
    width: 4rem;
    font-size: 1rem;
    text-align: center;
    background-color: red;
    color: white;
    outline: none;
    border: none;
}